/*------------- 
   navbar start
--------------- */



/*------------- 
   navbar end
--------------- */



/*------------- 
   cover start
--------------- */
.cover-img{
    filter: brightness(50%);
}

.cover-caption{
    top: 40%;
    transform: translateY(-50%);
}

.cover-button{
    font-size: 2vw;
    font-weight: 700;
}
/*------------- 
   cover end
--------------- */

.company-img{
    width: 120px;
}

/* join section start*/
.join{
    bg
}
.join-heading{
    color: white;
}
.join-par{
    color: white;
}
.join-btn{
    font-weight: 800;
    color
}

/* join section end*/



/*------------- 
   footer
--------------- */
footer{
    background: black;
}
.footer-heading{
    color: white;
}
.footer-par{
    color: white;
}
.fa-facebook{
    color:white
}
.fa-twitter{
    margin-left: 10px;
    color:white
}
.fa-linkedin{
    margin-left: 10px;
    color:white
}
.fa-spotify{
    margin-left: 10px;
    color:white
}

.nav-margin{
    margin-left: 20px;
}